<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.picenter.picdb.dao.PicInfoMapper">

	<resultMap type="com.picenter.picdb.model.PicInfo" id="picinfo">
		<id column="pid" property="pid" />
		<result column="pname" property="pname" />
		<result column="pdesc" property="pdesc" />
		<result column="psize" property="psize" />
		<result column="ppath" property="ppath" />
	</resultMap>

	<insert id="addPicInfo" parameterType="com.picenter.picdb.model.PicInfo">
		insert into picinfo (pid, pname, pdesc, psize, ppath)
		values (
		#{pid}, #{pname}, #{pdesc}, #{psize}, #{ppath}
		)
	</insert>
	
	<delete id="delPicInfo" parameterType="int">
		delete from picinfo where pid=#{id}
	</delete>

</mapper>