<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.picenter.picdb.dao.PicuserMapper">

	<resultMap type="com.picenter.picdb.model.Picuser" id="usermap">
		<id column="uid" property="uid" />
		<result column="uname" property="uname" />
		<result column="age" property="age" />
		<result column="gender" property="gender" />
		<result column="vip" property="vip" />
	</resultMap>

	<select id="select" parameterType="int" resultMap="usermap">
	<![CDATA[ 
		select * from picuser where uid = #{id}
		]]>
	</select>
	<insert id="insert">
		insert into users (uid, uname, age, gender, vip)
		values (
		#{uid}, #{uname}, #{age}, #{vip}
		)
	</insert>

</mapper>